body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background: url("../img/giphy.webp") 50%;
  background-color: black;
  background-size: cover;
}
h1, h2 {
  display: inline-block;
  background: #fff;
}
h1 {
  font-size: 30px
}
h2 {
  font-size: 18px;
}
span {
  background: #fd0;
}

li {
  color: white;
  font-family: monaco;
  list-style-type: none;
}  
